		.container{
			width: 40%;
			margin-right: auto;
			margin-left: auto;
			margin-top: 50px;
		}

		.thread{
			display: flex;
			margin-top: 10px;
			
		}


		.des-text, .replies-des-text{
			margin-top: 10px;
		}

		.thread .name{
			float: left;

			    line-height: 18px;
			    font-size: 18px;
			    font-weight: 600;
			    margin-right: 10px;
			}

		.thread .description{
			float: right;
		}

		.col-1{
			margin-left: 10px;
		    margin-right: 10px;
		    background: #d0e8e8;
		    height: fit-content;
		    padding: 5px 10px 5px 10px;
		    border-radius: 50%;
		}

		.thread-buttons{
			display: flex; 
			justify-content: center;
		}

		.thread-buttons input.thread-btn{
			width: fit-content; height: fit-content; background-color: #00ffff; border-radius: 12px; color: rgb(0, 0, 0); cursor: pointer; font-weight: bold; padding: 4px 9px; display: block; text-align: center; align-items: center; vertical-align: middle; transition: all 200ms ease 0s; box-sizing: border-box; border: 0px; font-size: 13px; user-select: none; touch-action: manipulation;font-
		}



		.replies-container{
			padding-left: 100px;
		}
		.replies-thread{
			display: flex;
			margin-top: 10px;
			
		}

		.replies-thread .replies-name{
			float: left;

			    line-height: 18px;
			    font-size: 18px;
			    font-weight: 600;
			    margin-right: 10px;
			}

		.replies-thread .replies-description{
			float: right;
		}

		.replies-col-1{
			margin-left: 10px;
		    margin-right: 10px;
		    background: #d0e8e8;
		    height: fit-content;
		    padding: 5px 10px 5px 10px;
		    border-radius: 50%;
		}

		.replies-thread-buttons{
			display: flex; 
			justify-content: center;
		}

		.replies-thread-buttons input.replies-thread-btn{
			width: fit-content; height: fit-content; background-color: #00ffff; border-radius: 12px; color: rgb(0, 0, 0); cursor: pointer; font-weight: bold; padding: 4px 9px; display: block; text-align: center; align-items: center; vertical-align: middle; transition: all 200ms ease 0s; box-sizing: border-box; border: 0px; font-size: 13px; user-select: none; touch-action: manipulation;font-
		}



.thread-buttons, .replies-thread-buttons, .replies-container{
	display: none;
}


input[type=button].first-child {
  width: 100%;
 
  box-sizing: border-box;
  border: 2px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=button].first-child:focus {
  border: 3px solid #000;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 99999999999999999999;
    background: #cbbdbd;
    top: 5px;
  /*  bottom: 0px;*/
}

.loader{
    position: absolute;
    top: 20%;
    left: 40%;

}


.wait-message{
   position: absolute;
    top: calc(20% + 200px);
    left: 42%;

}

.overlay{
	display: none;
}

input[type="button"]:focus{
	background-color: red;
}